.btn{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 46px;
  color: $black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  transition: 0.2s background-color;
  border: 1px solid transparent;
  white-space: nowrap;
  &:focus,&:active{
    outline: none;
  }
}

.btn-yellow{
  background: $yellow;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  &:hover{
    background: $yellowHover;
    transition: 0.2s background-color;
  }
}

.btn-white{
  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.btn-black{
  background: #000;
  color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.btn-green{
  background: rgb(21,222,65);
  background: linear-gradient(90deg, rgba(21,222,65,1) 0%, rgba(0,173,152,1) 100%);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
}
.btn-transparent{
  border: 1px solid $black;
  border-radius: 8px;
  &:hover{
    border-color: rgba($black,0.5);
    transition: 0.2s border-color;
  }
}
.btn-ico{
  padding-left: 50px;
}

.btn-ico-download{
  position: relative;
  &:before {
    @include pseudo("ico-download.svg", 12, 18, 27, 13);
  }
}
.btn-ico-money{
  position: relative;
  padding-left: 55px;
  &:before {
    @include pseudo("ico-money.svg", 21, 21, 25, 13);
  }
}
.btn-ico-chat{
  position: relative;
  &:before {
    @include pseudo("ico-chat.svg", 19, 18, 25, 13);
  }
}

.btn-ico-wt{
  position: relative;
  &:before {
    @include pseudo("ico-wt-white.svg", 20, 20, 21, 11);
  }
}

.btn-ico-tel{
  position: relative;
  &:before {
    @include pseudo("ico-tel.svg", 21, 20, 21, 11);
  }
}

.btn-ico-arrow{
  position: relative;
  &:before {
    @include pseudo("short_right2.svg", 20, 18, 21, 11);
  }
}

.btn-submit-arrow{
  background: url("/img/short_right2.svg") 37px 13px no-repeat  $yellow;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-left: 70px;
  margin-top: 7px;
  &:hover{
    background-color: $yellowHover;
    transition: 0.2s background-color;
  }
}