#main-page--calculator{
  position: relative;
  top: -206px;
  margin-bottom: -206px;
  z-index: 99;
}
.calculator{
  padding: 25px 35px 20px;
  color: #000;
  background: #FFD600;
  transition: all 0.3s;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(/img/pattern.png) 0 bottom repeat-x;
    opacity: 0.9;
    z-index: 0;
  }
  select{
    width: 260px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 17px;
    margin-right: 25px;
    option:disabled{
      color: #999b9e;
    }
    &:focus, &:active{
      outline: none !important;
    }
  }
  input[type=text]{
    height: 40px;
    border-radius: 5px;
    border: none;
    width: 105px;
    padding: 0 17px;
    &:focus, &:active{
      outline: none !important;
    }
  }
  .row-total{
    display: flex;
    height: 40px;
    border-radius: 5px;
    width: auto;
    text-align: center;
    align-items: center;
    font-size: 15px;
    padding: 0 15px;
    border: 1px solid rgba(#fff,1);
  }
  .labeled-input{
    display: flex;
    align-items: center;
    input, .row-total{
      margin-left: 14px;
      margin-right: 10px;
    }
  }
  .radio-group{
    display: flex;
    align-items: center;
    label{
      margin-right: 20px;
      cursor: pointer;
      input{
        margin-right: 20px;
        cursor: pointer;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.input-error{
  border: 2px solid red !important;
}

.els-body{
  transition: all 0.3s;
  &.disabled{
    pointer-events: none;
    opacity: 0.8;
  }
}

.els-header{
  font-size: 26px;
  margin-bottom: 17px;
  position: relative;
  font-weight: 800;
}

.loading_text{
  display: inline-block;
  font-size: 15px;
}

.els-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s all;
  opacity: 1;
  position: relative;
  align-items: center;
  &:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    //background: rgba(#556782,.6);
    z-index: -1;
  }
  &.collapsed{
    opacity: 0;
    transition: 0.3s all;
  }
}
.els-del{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: absolute;

  font-size: 18px;
  line-height: 14px;
  left: -25px;
  top: 11px;
  background: url("/img/btn_add.svg") 0 0 no-repeat;
  background-size: contain;
transform: rotate(45deg);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.els-footer{
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(2, 111, 160, 0.5);
  .els-total-price{
    margin-left: auto;
    background: #fff;
    border-radius: 6px;
    padding: 11px 17px;
    .yellow-rounded{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
}
.els-total-price-num{
  display: inline-block;
}
.el-add-row-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  .btn-plus{
    margin-right: 15px;
  }
  &:hover{
    .btn-plus{
      opacity: 0.8;
    }
  }
}
.btn-plus{
  color: #fff;
  font-size: 26px;
  width: 32px;
  height: 32px;
  display: flex;
  background: url("/img/btn_add.svg");
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.els-total-price{
  display: flex;
  align-items: center;
}
.els-total-price-num{
  font-size: 15px;
  margin-left: 15px;
  min-width: 150px;
  text-align: right;
  span{
    font-size: 15px;
  }
}

.send-btn-wrapper{
  margin-left: 34px;
  .btn{
    font-size: 15px;
    font-weight: 400;
    padding: 10px 60px;
    cursor: pointer;
  }
}

.els-row-1 .els-del{
  display: none !important;}

.catalog--products-ul .product .catalog--item--name .title{
  display: none;
}

.to-right{
  margin-left: auto;
}

.calc_gp_1{
  position: absolute;
  width: 146px;
  height: 179px;
  background: url("/img/gp7.svg") 0 0 no-repeat;
  background-size: contain;
  left: 370px;
  bottom: -95px;
  z-index: 234;
}

@media (min-width: 661px) and (max-width: 1024px){
  .els-row{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
  }
  .els-row .el-wrap{
    flex-basis: 49%;
    margin-right: 2%;
    &.labeled-input{
      flex-basis: auto;
    }
    &.ew2, &.ew4{
      margin-right: 0;
    }
  }
  .calculator select{
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
    height: 40px;
    font-size: 14px;
  }
  .calculator input[type=text]{
    height: 40px;
    width: 65px;
  }
  .calculator .labeled-input{
    margin-left: 0;
  }
  .calculator .row-total{
    height: 40px;
    font-size: 20px;
  }
  .labeled-input.input-dark{
    margin-top: 10px;
  }
  .els-footer{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    align-items: baseline;
    margin-bottom: 5px;
  }
  .el-add-row-btn{
    flex-basis: auto;
  }
  .els-total-price{
    flex-basis: auto;
  }
  .btn-plus{
    width: 30px;
    height: 30px;
  }
  .els-footer .els-total-price{
    margin-left: 0;
    margin-top: 10px;
  }
  .els-total-price-num{
    font-size: 20px;
  }
  .els-total-price-num span{
    font-size: 26px;
  }
  .send-btn-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    flex-basis: 100%;
    text-align: right;
  }
  .send-btn-wrapper .btn{
    font-size: 16px;
  }
  .els-del{
    top: 15px;
  }
}
@media (max-width: 660px){
  .els-row{
    flex-direction: column;
  }
  .calculator{
    padding: 22px;
  }
  .calculator select{
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
    height: 40px;
    font-size: 14px;
  }
  .calculator input[type=text]{
    height: 40px;
    width: 65px;
  }
  .calculator .labeled-input{
    margin-left: 0;
    label{
      font-size: 15px;
    }
  }
  .els-del{
    left: -19px;
    top: 14px;
  }
  .calculator .row-total{
    height: 40px;
    font-size: 20px;
  }
  .labeled-input.input-dark{
    margin-top: 10px;
  }
  .els-footer{
    flex-direction: column;
    margin-bottom: 5px;
  }
  .btn-plus{
    width: 30px;
    height: 30px;
  }
  .els-footer .els-total-price{
    margin-left: 0;
    margin-top: 10px;
  }
  .els-total-price-num{
    font-size: 20px;
  }
  .els-total-price-num span{
    font-size: 26px;
  }
  .send-btn-wrapper{
    margin-left: 0;
    margin-top: 15px;
  }
  .send-btn-wrapper .btn{
    font-size: 16px;
  }
}/*<660*/


@media (min-width: 1025px) and (max-width: 1439px){
  .els-row{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    align-items: baseline;
    justify-content: flex-start;
  }
  .el-wrap{
    flex-basis: 49%;
    &.labeled-input{
      flex-basis: auto;
    }
  }
  .calculator select{
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;

  }
  .calculator input[type=text]{
    width: 65px;
  }
  .calculator .labeled-input{
    margin-left: 0;
  }
  .calculator .row-total{

    font-size: 24px;
  }
  .labeled-input.input-dark{
    margin-top: 10px;
  }

}


.alert {
  height: 53px;
  color: white;
  opacity: 0.83;
  transition: all 0.6s;
  padding: 0 15px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  &.error{
    background-color: #f44336;
  }
  &.success{
    background-color: #40871d;
  }
  &.process{
    background-color: #5f5f5f;
  }
}
.alert .closebtn {
  padding-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.loader {
  top: 3px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(61,56,56, 0.2);
  border-right: 5px solid rgba(61,56,56, 0.2);
  border-bottom: 5px solid rgba(61,56,56, 0.2);
  border-left: 5px solid #3d3838;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner {
  display: inline-block;
}