.cards_w{
  background: url("../img/pattern+.png") repeat;
}
.cards{
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 37px 0;
  width: 100%;
  .card{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    a{
      text-decoration: none;
    }
    .head{
      display: block;
     // margin-top: 12px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;
      font-weight: 800;
      text-decoration: none;
      color: $black;
    }
  }
  &+.cards{
    margin-top: 17px;
  }
}

.top-slider_bottom{
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  a{
    margin-right: 25px;
    &:last-child{
      margin-right: 0;
    }
  }
  .swiper-pagination{
    position: relative;
  }
  .btn-ico-download{
    padding-right: 14px;
    padding-left: 40px;
    &:before{
      left: 17px;
    }
  }
}

.swiper-cards{
  .card{
    flex-basis: auto;
  }
}

.card.mobile{
  display: none;
}

@media (max-width: 1180px){
  .card.mobile{
    display: inherit;
  }
  .cards:first-child .card{
    display: none;
  }
  .top-slider{
    flex-basis: 100%;
  }
  .cards .card img{
    max-width: 125px;
  }
  .cards-line2{
    background: #EDEDED;
    margin-left: -20px;
    margin-right: -20px;
    width: 100vw;
    padding: 60px 20px 30px;
    .btn-w{
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
  .cards + .cards{
    margin-top: -40px;
  }
}