.cards{
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 37px 0;
  .card{
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    a{
      text-decoration: none;
    }
    .head{
      display: block;
     // margin-top: 12px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;
      font-weight: 800;
      text-decoration: none;
      color: $black;
    }
  }
  &+.cards{
    margin-top: 17px;
  }
}

.top-slider_bottom{
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  grid-gap: 0 25px;
  margin-bottom: 8px;
  .swiper-pagination{
    position: relative;
  }
}

.swiper-cards{
  .card{
    flex-basis: auto;
  }
}