.category--header{
  h1{
    font-size: 48px;
    line-height: 55px;
    font-weight: 800;
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

.left_menu{
  padding: 32px 37px 24px;
  background: #F0CB07;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 38px;
  ul{
    padding: 0;
    margin: 0;
    li{
      margin-bottom: 6px;
      a{
        color: #5F5F5F;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        &:hover{
          color: #000;
        }
      }
      &.active a{
        color: #000;
        font-weight: 800;
      }
    }
  }
}

.block_list{
  padding: 16px 16px 0;
  background: #F0CB07;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 265px;
  .heading{
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 50px;
    position: relative;
    margin-bottom: 5px;
    padding-left: 10px;
    &:after{
      @include pseudo("ico-inbox.svg", 40, 44, null, 0, 0);
    }
  }
  .desc{
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    padding-left: 10px;
    padding-right: 10px;
  }
  .sum{
    font-size: 48px;
    line-height: 57px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .btn{
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
}

.fixed {
  position: fixed;
}

/*items*/
.catalog--products-ul{
  .product{
    padding: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    .img_wrapper{
      background: #FFFFFF;
      border-radius: 6px;
      overflow: hidden;
      width: 237px;
      min-width: 237px;
      height: 244px;
      max-height: 244px;
      margin-right: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right_wrapper{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .woocommerce-loop-product__title, .price_w{
        flex-basis: 100%;
      }

    }
    .btns-wrapper{
      display: flex;
      align-items: flex-end;
    }
  }
}

.woocommerce-loop-product__title{
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}
.woocommerce-notices-wrapper,
.woocommerce-ordering,
.woocommerce-result-count
{
  display: none;
}


.product--input-w{
  display: flex;
  flex-basis: 47%;
  align-items: flex-end;
  input[type=number],
  input[type=text]{
    height: 45px;
    border-radius: 5px;
    border: none;
    width: 105px;
    padding: 0 17px;
    &:focus, &:active{
      outline: none !important;
    }
  }
  .labeled-input{
    .label{
      display: block;
      margin-bottom: 3px;
    }
    .inputCountWrap{
      margin-left: 0;
    }
    .row-total{
      height: 45px;
      border-radius: 5px;
      border: none;
      width: 125px;
      padding: 0 17px;
      display: flex;
      align-items: center;
      background: #fff;
      color: #000;
    }
  }
}
.btns-wrapper{
  flex-basis: 53%;
  .btn-put-to-storage{
    margin-right: 14px;
    .btn-ico{
      padding-left: 40px;
    }
  }
}
.price_w{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  .title{
    width: 47%;
    font-size: 24px;
    line-height: 31px;
  }
 .price{
   width: 53%;
   font-size: 48px;
   line-height: 62px;
   &.special{
     font-size: 24px;
   }
 }
}

