footer.footer{
  margin-top: 94px;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 20px;
  background: $yellow;
  position: relative;
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/pattern.png") 0 0 repeat;
    opacity: 0.9;
    z-index: 0;
  }
  .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text{
    font-size: 14px;
    line-height: 17px;
    max-width: 600px;
    margin-top: 16px;
    span{
      display: block;
    }
  }
  .footer-nav{
    margin-top: 28px;
    ul{
      display: flex;
      flex-direction: row;
      li{
        margin: 0 25px;
        a{
          color: $black;
          text-decoration: none;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
  .footer-cards{
    margin-top: 28px;
    ul{
      display: flex;
      flex-direction: row;
      li{
        margin: 0 10px;
      }
    }
  }
  .footer-socials{
    margin-top: 28px;
  }
  .copyright{
    margin-top: 28px;
    color: $black;
    font-size: 15px;
    line-height: 20px;
  }
}
.logo-bottom{
  width: 105px;
  height: 74px;
  background: url("../img/logo-bottom.svg") 0 0 no-repeat;
  background-size: contain;
}
.footer-socials{
  margin: 20px 0;
  ul{
    display: flex;
    flex-direction: row;
  }
  a{
    margin: 0 10px;
  }
}
.ico-w-mail{
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/ico-w-mail.svg") 0 0 no-repeat;
  background-size: contain;
}
.ico-w-wt{
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/ico-w-wt.svg") 0 0 no-repeat;
  background-size: contain;
}
.ico-w-vb{
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/ico-w-vb.svg") 0 0 no-repeat;
  background-size: contain;
}

.gp_tranz3{
  background: url("../img/tranz3.svg") 0 0 no-repeat;
  background-size: contain;
  width: 112px;
  height: 113px;
  position: absolute;
  left: 10%;
  top: -80px;
}

@media (max-width: 1180px){
  footer.footer .footer-nav ul{
    flex-direction: column;
  }
  footer.footer{
    margin-top: -150px;
    padding-top: 180px;
  }
}