input[type=text],
input[type=email],
input[type=tel]
{
  height: 44px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  background: #EDEDED;
  padding: 0 15px;
}

label{
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  margin-bottom: 20px;
}