header.header{
  padding-top: 40px;
}
.header .logo{
  display: block;
  width: 285px;
  height: 91px;
  background: url("../img/logo.svg") 0 0 no-repeat;
  background-size: contain;
  grid-column: 1 / span 4;
  margin-left: 5px;
}
.top-nav{
  grid-column-end: -4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    li{
      margin-left: 27px;
    }
  }
}
.ico-map{
  display: block;
  position: relative;
  text-decoration: none;
  color: $black;
  font-size: 12px;
  line-height: 18px;
  padding-left: 29px;
  &:after{
    @include pseudo("ico-map.svg",18,24,0,-4);
  }
}
.ico-calc{
  display: block;
  position: relative;
  text-decoration: none;
  color: $black;
  font-size: 12px;
  line-height: 18px;
  padding-left: 29px;
  &:after{
    @include pseudo("ico-calc.svg",25,25,0,-4);
  }
}
.top-nav .ico-mob-catalog{
  display: block;
  position: relative;
  text-decoration: none;
  color: $black;
  font-size: 12px;
  line-height: 18px;
  padding-left: 26px;
  &:before{
    @include pseudo("ico-mob-price.svg", 19, 24, 0, -2);
  }
}
.top-nav a{
  display: block;
  position: relative;
  text-decoration: none;
  color: $black;
  font-size: 12px;
}

.top-contacts{
  grid-column-end: -1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 45px;
  position: relative;
  a{
    margin-left: 13px;
    &:first-child{
      margin-left: 0;
    }
  }
  &:after{
    @include pseudo("line_m.svg",2,12,15,40);
    top:50%;
    margin-top: -6px;
  }
}
.ico-wt{
  display: block;
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: $black;
  font-size: 14px;
  padding-left: 29px;
  &:after{
    @include pseudo("ico-wt.svg",21,20,0,-4);
  }
}
.ico-vb{
  display: block;
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: $black;
  font-size: 14px;
  padding-left: 28px;
  &:after{
    @include pseudo("ico-vb.svg",20,20,0,-4);
  }
}
.top-phone{
  padding-left: 78px;
  position: relative;
  top: -17px;
  a{
    color: $black;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
  }
}

.burger_w{
  display: flex;
  align-items: center;
}

#mobile_menu {
  background: #F0CB07;
  position: absolute;
  top: 72px;
  z-index: 99999;
  display: none;
  width: 100%;
  left: 0;
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
  padding-bottom: 25px;
  padding-top: 20px;
  &.active{
    display: block;
  }
  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    li{
      text-align: left;
      width: 165px;
      font-size: 14px;
      line-height: 20px;
      margin: 11px 0;
      a{
        color: $black;
        text-decoration: none;
        font-weight: 800;
      }
    }
  }
}

.ico-mob-price{
  position: relative;
  &:before{
    @include pseudo("ico-mob-catalog.svg", 12, 17, null, -1, 4);
  }
}

.ico-mob-catalog{
  position: relative;
  &:before{
    @include pseudo("ico-mob-price.svg", 19, 24, null, -1, 0);
  }
}

.ico-mob-mail{
  position: relative;
  &:before{
    @include pseudo("ico-mob-mail.svg", 20, 20, null, -1, 0);
  }
}

.ico-mob-viber{
  position: relative;
  &:before{
    @include pseudo("ico-mob-viber.svg", 24, 24, null, -1, 0);
  }
}

.ico-mob-whatsapp{
  position: relative;
  &:before{
    @include pseudo("ico-mob-whatsapp.svg", 20, 20, null, -1, 0);
  }
}

.popup_layout{
  display: none;
  &.active{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99998;
  }
}

#cat_popup_menu{
  position: fixed;
  width: 100%;
  z-index: 99999;
  display: none;
  .container{
    background: $yellow;
    padding: 25px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  ul{
    padding: 0;
    margin: 0;
    column-count: 2;
    column-gap: 60px;
    li{
      margin-bottom: 6px;
      a{
        color: #5F5F5F;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        &:hover{
          color: #fff;
        }
      }
      &.active a{
        color: #fff;
      }
    }
  }
  .header{
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .close_btn{
    width: 34px;
    height: 34px;
    cursor: pointer;
    position: absolute;
    right: -15px;
    top: -15px;
  }
  .flex{
    display: flex;
    &>div{
      flex-basis: 50%;
    }
  }
  .mobile_tabs{
    display: none;
  }
}

@media (max-width: 660px) {
  #cat_popup_menu{
    .container{
      padding: 20px;
    }
    .mobile_tabs{
      display: block;
      ul{
        display: flex;
        flex-direction: row;
        li{
          font-size: 14px;
          line-height: 24px;
          font-weight: 800;
          color: #5F5F5F;
          text-transform: uppercase;
          margin-bottom: 20px;
          margin-right: 15px;
          &.active{
            color: #000;
            text-decoration: underline;
          }
        }
      }
    }
    .header{
      display: none;
    }
    .flex{
      flex-direction: column;
    }
  }
  #cat_popup_menu ul{
    column-count: 1;
    column-gap: 0;
  }
  #cat_popup_menu .flex>div{
    flex-basis: 100%;
  }
  #cat_popup_menu .tab_content{
    display: none;
    &.active{
      display: block;
    }
  }
}



@media (max-width: 1180px) {
  header.header{
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    height: 72px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
  }
  .header .logo{
    width: 154px;
    height: 46px;
    background: url("../img/logo-mobile.svg") 0 0 no-repeat;
    margin: 0 auto;
  }
  .top-nav, .top-contacts, .top-phone{
    display: none;
  }
}