.module-how-to{
  margin-top: 76px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mht-left{
  display: flex;
  align-items: center;
  width: 45%;
  .wrapper{
    background: #D2D2D2;
    padding-left: calc((100vw - 1120px)/2);
    height: 410px;
    padding-top: 50px;
    position: relative;
  }
  .text{
    padding-right: 60px;
    font-size: 16px;
    line-height: 30px;
  }
}
.chbxes{
  margin-top: 32px;
}
.chkbx{
  margin-bottom: 42px;
  margin-left: 43px;
  font-size: 17px;
  font-weight: 800;
  position: relative;
  &:before{
    @include pseudo("check_bold.svg", 20, 18, -40, 1);
  }
}

.sign_quest_1{
  background: url("/img/quest.svg") 0 0 no-repeat;
  background-size: contain;
  width: 67px;
  height: 105px;
  position: absolute;
  right: 90px;
  bottom: 90px;
}
.sign_quest_2{
  background: url("/img/quest-white.svg") 0 0 no-repeat;
  background-size: contain;
  width: 133px;
  height: 209px;
  position: absolute;
  left: 440px;
  top: 60px;
}
.sign_quest_3{
  background: url("/img/quest.svg") 0 0 no-repeat;
  background-size: contain;
  width: 65px;
  height: 76px;
  position: absolute;
  left: 580px;
  top: -15px;
  transform: rotate(15deg);
}
.sign_quest_4{
  background: url("/img/quest.svg") 0 0 no-repeat;
  background-size: contain;
  width: 30px;
  height: 47px;
  position: absolute;
  left: 360px;
  top: 27px;
  opacity: 0.5;
  transform: rotate(-45deg);
}
.graph_ag{
  background: url("/img/ag.svg") 0 0 no-repeat;
  background-size: contain;
  width: 98px;
  height: 98px;
  position: absolute;
  right: 503px;
  bottom: -42px;
}
.graph_tranz{
  background: url("/img/tranz.svg") 0 0 no-repeat;
  background-size: contain;
  width: 49px;
  height: 54px;
  position: absolute;
  right: 153px;
  top: -38px;
}

.mht-right{
  width: calc(55% + 27px);
  margin-left: -27px;
  .wrapper{
    background: #f0cb07;
    min-height: 459px;
    padding-right: calc((100vw - 1120px)/2);
    position: relative;
    padding-top: 68px;
    padding-left: 73px;
    border-radius: 6px 0 0 6px;
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url("/img/pattern.png") 0 bottom repeat-x;
      opacity: 0.7;
      z-index: 0;
    }

  }
  .head{
    font-size: 36px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: -1px;
    position: relative;
    span{
      display: block;
    }
  }
  .gradient{
    position: absolute;
    left: 288px;
    top: 54px;
    width: 592px;
    height: 372px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF09B 0%, rgba(255, 240, 155, 0) 100%);
  }
  .btn-w{
    margin-top: 43px;
  }
}
.robot{
  background: url("/img/robot.svg") 0 0 no-repeat;
  background-size: contain;
  width: 258px;
  height: 499px;
  position: absolute;
  left: 453px;
  top: 62px;
}


@media (max-width: 1180px){
  .module-how-to{
    display: none;
  }
  .mht-right .gradient{
    display: none;
  }
}