.mod_getprice{
  margin-top: 115px;
  .heading{
    margin-top: 90px;
    margin-bottom: 22px;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
  }
  .desc{
    font-size: 16px;
    line-height: 30px;
    max-width: 320px;
    margin-bottom: 24px;
  }
  a.btn{
    padding-left: 75px;
    padding-right: 75px;
  }
}