.mod-blog{
  margin-top:110px;
}
.mod-blog-l{
  background: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 36px 22px 36px 32px;
  .head{
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  p{
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
  }
}

.mod-blog-r1{
  background: black;
  color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 26px 26px 30px;
  position: relative;
  .pic{
    background: url("/img/chel.png") 0 0 no-repeat;
    width: 169px;
    height: 201px;
    position: relative;
    left: 50%;
    margin-left: -85px;
    top: -102px;
    margin-bottom: -82px;
  }
  .head{
    font-size: 23px;
    line-height: 23px;
    font-weight: 800;
    margin-bottom: 24px;
  }
  .desc{
    font-size: 13px;
    line-height: 13px;
    padding-right: 40px;
  }
  .arr{
    position: absolute;
    right: 15px;
    bottom: 30px;
    width: 35px;
    height: 35px;
    background: url("/img/short_right.svg") 0 0 no-repeat;
    background-size: contain;
  }
}

.mod-blog-rb{
  padding: 20px 41px 23px 31px;
  background: #555555;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  .head{
    color: #F0CB07;
    font-size: 23px;
    line-height: 24px;
    font-weight: 800;
    margin-bottom: 8px;
  }
  .desc{
    color: #fff;
    font-size: 14px;
    line-height: 18px;
  }
}

.mod-blog-r2{
  padding-left: 38px;
  form{
    height: 100%;
  }
  input[type=text],
  input[type=email],
  input[type=tel]
  {
    width: 222px;
  }
  label{
    margin-bottom: 20px;
    div{
      margin-bottom: 10px;
    }
  }
}

.flex-col{
  height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
}