.mod-map{
  margin-top: 60px;
  h2{
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 20px;
    font-weight: 800;
  }
}
#map{
  height: 454px;
}
.map_bubble{
  color: #444c56;
  margin: 40px auto 0;
  position: absolute;
  right: 10%;
  z-index: 12;
  border-radius: 10px;
  .close{
    background: url("../img/btn_add.svg") 0 0 no-repeat #fff;
    transform: rotate(45deg);
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    z-index: 88;
    display: none;
    cursor: pointer;
  }
  &.open .close{
    display: block;
  }
}

.maninblack{
  position: relative;
  z-index: 22;
}

.maninblack .mod-blog-r1{
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.map_bubble{
  .pic{
    padding: 10px;
    background: #fff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 470px;
    .desc{
      display: flex;
      flex-direction: row;
      font-size: 14px;
      line-height: 18px;
      padding-top: 20px;
      padding-bottom: 13px;
      a{
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        color: #000;
      }
      .left{
        flex-basis: 60%;
        padding-right: 20px;
        padding-left: 10px;
      }
      .right{

      }
    }
  }
}

@media (max-width: 1180px){
  .mod-map{
    margin-top: 0;
    position: relative;
  }
  #map{
    height: 644px;
    margin-top: -100px;
    margin-bottom: -100px;
  }
  .map_bubble{
    right: auto;
    width: 300px;
    left: 50%;
    top: 26%;
    margin-left: -150px;
    margin-top: -85px;
    img{
      max-width: 300px;
      width: 100%;
    }
    .pic .desc{
      flex-direction: column;
      .right{
        padding-left: 10px;
        margin-top: 15px;
        .ico-tel:after{
          width: 20px;
          height: 20px;
          top: -1px;
          left: -1px;
        }
      }
    }
  }
}