.module-123{
  margin-top: 80px;
  .head{
    font-size: 36px;
    line-height: 48px;
    font-weight: 800;
  }
  .block1{
    padding-right: 60px;
    position: relative;
    &:after{
      @include pseudo("switch-vertical.svg", 50, 50, null, 110, 0);
    }
  }
  .block2{
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    &:after{
      @include pseudo("switch-vertical.svg", 50, 50, null, 110, -10);
    }
  }
  .block3{
    padding-left: 55px;
    position: relative;
  }
  .pic-1{
    width: 292px;
    height: 179px;
    background: url("../img/camera.svg") center bottom no-repeat;
  }
  .pic-2{
    width: 292px;
    height: 179px;
    background: url("../img/scale.svg") center bottom no-repeat;
  }
  .pic-3{
    width: 292px;
    height: 179px;
    background: url("../img/card.svg") center bottom no-repeat;
  }
  .heading{
    margin-top: 31px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
  }
  .desc{
    font-size: 14px;
    line-height: 18px;
    color: #555;
    margin-bottom: 80px;
    b{
      font-weight: 800;
    }
  }
  .btn-w{
    position: absolute;
    bottom: 0;
  }
  .btn{
    width: 162px;
  }
}

@media (max-width: 1180px){
  .mod_getprice .ded{
    display: none;
  }
  .calc_gp_1{
    display: none;
  }

  .module-123{
    margin-top: 35px;
    .block2{
      padding-left: 0;
      padding-right: 0;
    }
    .block3{
      padding-left: 0;
    }
    .pic-3{
      width: 134px;
      height: 82px;
      background-size: contain;
    }
    .head{
      font-size: 29px;
      line-height: 28px;
      text-align: center;
    }
    .heading{
      margin-top: 10px;
    }
    .block1:after,
    .block2:after
    {
      display: none;
    }
    .block1,
    .block2,
    .block3
    {
      padding: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    .pic-1{
      width: 82px;
      height: 89px;
    }
    .pic-2{
      width: 122px;
      height: 99px;
    }
    .btn-w{
      position: relative;
    }
    .desc{
      margin-bottom: 20px;
    }
    .block3{
      .btn-w{
        display: none;
      }
    }
 }
}