.mod-map{
  margin-top: 112px;
}
#map{
  height: 454px;
}
.map_bubble{
  color: #444c56;
  margin: 70px auto 0;
  position: absolute;
  right: 10%;
  z-index: 12;
  border-radius: 10px;
  .close{
    background: url(/img/btn_add.svg) 0 0 no-repeat #fff;
    transform: rotate(45deg);
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    z-index: 88;
    display: none;
    cursor: pointer;
  }
  &.open .close{
    display: block;
  }
}

.maninblack{
  position: relative;
  z-index: 22;
}

.maninblack .mod-blog-r1{
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1180px){
  .mod-map{
    margin-top: 0;
    position: relative;
  }
  #map{
    height: 644px;
    margin-top: -100px;
    margin-bottom: -100px;
  }
  .map_bubble{
    right: auto;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -85px;
    img{
      max-width: 300px;
    }

  }
}