@media (min-width: 768px) and (max-width: 1366px){

}

@media (min-width: 1367px) and (max-width: 1600px){
  .graph_tranz{top:-118px;}
  .mod_getprice .gp8{top: -85px;}
  .mod_getprice .gp1{top: 804px;}
  .mod_getprice .gp3{top: 165px;}
  .mod_getprice .gp4{top: 290px;}
  .mod_getprice .gp5{top: 211px;}
  .calc_gp_1{bottom: 335px;}
  .gp_tranz2{    top: -265px;}
  .mod-map {
    position: relative;
    z-index: 222;
  }
}

