
#table{
  width: 765px !important;
  padding: 0;
  th{
    text-align: left;
    padding: 25px 0 15px;
    font-weight: normal;
  }
  border-collapse: collapse;
  td{
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 13px;
  }
  .td--typeof{
    min-width: 100px;
  }
  .td--price{
    min-width: 130px;
    text-align: right
  }

}

.hintbox{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 127px;
  margin-bottom: 30px;
  .left{
   img{
     height: 100%;
   }
  }
  .right{
    padding-left: 100px;
    .btn-ico-print{
      margin-left: 20px;
    }
    h3{
      font-size: 24px;
      line-height: 30px;
      font-weight: 800;
    }
    .hintbox-text{
      font-size: 16px;
      line-height: 30px;
      color: #555555;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
}


@media (max-width: 1180px){
  .page-template-print{
    footer.footer{
      margin-top: 30px;
      padding-top: 30px;
    }
    .btn-ico-download{
      margin: 0 10px 20px;
    }
    .hintbox .right  .btn-ico-print{
      margin: 0 10px 20px;
    }
  }
  .hintbox{
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    padding-left: 0;
  }
  .hintbox .right{
    padding-left: 0;
    padding-top: 30px;
  }
  .price_btn_wrapper{
    text-align: center;
  }
  .hintbox .left img{
    max-height: 120px;
  }

}