<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="calculator" id="main-page--calculator">
                <div class="els-header"> Калькулятор
                    <div class="spinner loader">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <div class="loading_text"></div>
                </div>
                <div class="flex els-filter">
                    <div class="opt opt1 active" data-vals="[17,16,18,24,25,26,30,28,19,29,23,22,21,20]">Радиолом</div>
                    <div class="opt opt2" data-vals="[37,38,49,39,41,42,43,46,44,45,48,47]">Приборы</div>
                </div>
                <div class="flex els-body flex-column">
                    <div class="els-row els-row-1" data-id="1">
                        <div class="el-wrap sel-wrap">
                            <select class="el-type el-type-1" name="el-type">
                                <option disabled hidden selected value="">Выберите тип элемента</option>
                            </select>
                        </div>
                        <div class="el-wrap sel-wrap sw2">
                            <select class="el-name el-name-1" name="el-name">
                                <option disabled hidden selected value="">Наименование</option>
                            </select>
                        </div>
                        <div class="el-wrap labeled-input">
                            <label>Кол.
                                <div class="inputCountWrap">
                                    <input placeholder="" type="number" min="1" value="1" class="inputCount inputCount-1"/>
                                    <span class="stepper-step up"></span>
                                    <span class="stepper-step down"></span>
                                </div>
                                <span class="typeOfCount typeOfCount-1">кг.</span>
                            </label>
                        </div>
                        <div class="el-wrap labeled-input input-dark to-right">
                            <label>Сумма</label>
                            <div class="row-total row-total-1"><span>0</span> ₽</div>
                        </div>
                    </div>
                </div>
                <div class="els-footer">
                    <div class="el-add-row-btn">
                        <div class="btn-plus"></div>
                        Добавить позицию
                    </div>
                    <div class="els-total-price">
                        <span class="yellow-rounded">Итого:</span>
                        <div class="els-total-price-num" id="els-total-price-num">
                            <span>0</span> ₽
                        </div>
                    </div>
                    <div class="send-btn-wrapper">
                        <a class="btn btn-black" href="javascript:void(0);">Продать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="calc_gp_1"></div>
    </div>
</div>