<div class="container">
    <div class="row">
        <div class="col-12 cards">
            <div class="top-slider">
                <div class="top-slider_wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="title">Самая высокая цена на радиодетали — здесь!</div>
                                <div class="desc">
                                    Оформи заявку прямо здесь, и мы сами заберем, оценим,
                                    и предложим лучшую цену за один час.
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="title">Доставку берем на себя!</div>
                                <div class="desc">
                                    Оформи заявку прямо здесь, и мы сами заберем
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="title">Самая низкая цена на радиодетали — здесь!</div>
                                <div class="desc">
                                    Оформи заявку прямо здесь, и мы сами заберем, оценим,
                                    и предложим лучшую цену за один час.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-slider_bottom">
                        <a class="btn btn-yellow btn-ico btn-ico-download" href="#"><span>Скачать прайс</span></a>
                        <a class="btn btn-transparent btn-ico btn-ico-money" href="#"><span>Каталог</span></a>
                        <div class="swiper-pagination-wrapper">
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/pic-kondensatory.png" alt="">
                    <span class="head">
                        Конденсаторы
                    </span>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/pic-pribory.png" alt="">
                    <span class="head">
                        Радиоприборы
                    </span>
                </a>
            </div>
        </div>
        <div class="col-12 cards">
            <div class="swiper-cards swiper-container">
                <div class="swiper-wrapper">
                    <div class="card swiper-slide">
                        <a href="#">
                            <img src="/img/pic-mikroshemy.png" alt="">
                            <span class="head">
                        Микросхемы
                    </span>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <a href="#">
                            <img src="/img/pic-potenziometry.png" alt="">
                            <span class="head">
                        Потенциометры
                    </span>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <a href="#">
                            <img src="/img/pic-razemy.png" alt="">
                            <span class="head">
                        Разъемы
                    </span>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <a href="#">
                            <img src="/img/pic-rezistory.png" alt="">
                            <span class="head">
                        Резисторы
                    </span>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <a href="#">
                            <img src="/img/pic-rezistory.png" alt="">
                            <span class="head">
                        Резисторы
                    </span>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <a href="#">
                            <img src="/img/pic-rezistory.png" alt="">
                            <span class="head">
                        Резисторы
                    </span>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>
    </div>
</div>
