<div class="cards_w">
    <div class="container">
        <div class="row">
            <div class="col-12 xs-col-4 cards">
                <div class="top-slider">
                    <div class="top-slider_wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="title">Самая высокая цена на радиодетали — здесь!</div>
                                    <div class="desc">
                                        Оформи заявку прямо здесь, и мы сами заберем, оценим,
                                        и предложим лучшую цену за один час.
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="title">Доставку берем на себя!</div>
                                    <div class="desc">
                                        Оформи заявку прямо здесь, и мы сами заберем
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="title">Самая низкая цена на радиодетали — здесь!</div>
                                    <div class="desc">
                                        Оформи заявку прямо здесь, и мы сами заберем, оценим,
                                        и предложим лучшую цену за один час.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top-slider_bottom">
                            <a class="btn btn-yellow btn-ico btn-ico-download" href="#"><span>Скачать прайс</span></a>
                            <a class="btn btn-transparent btn-uniq-cat-desc" href="#"><span>Каталог</span></a>
                            <div class="swiper-pagination-wrapper">
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <a href="#">
                        <img alt="" src="./img/pic-kondensatory.png">
                        <span class="head">
                        Конденсаторы
                    </span>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                        <img alt="" src="./img/pic-pribory.png">
                        <span class="head">
                        Радиоприборы
                    </span>
                    </a>
                </div>
            </div>
            <div class="col-12 xs-col-4 cards cards-line2">
                <div class="swiper-cards swiper-container">
                    <div class="swiper-wrapper">
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-mikroshemy.png">
                                <span class="head">Микросхемы</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-potenziometry.png">
                                <span class="head">Потенциометры</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-razemy.png">
                                <span class="head">Разъемы</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-rezistory.png">
                                <span class="head">Резисторы</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-trans.png">
                                <span class="head">Транзисторы</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-diod.png">
                                <span class="head">Диоды</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-lampy.png">
                                <span class="head">Лампы</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-perek.png">
                                <span class="head">Переключатели</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-platina.png">
                                <span class="head">Платина</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-rele.png">
                                <span class="head">Реле</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-serebro.png">
                                <span class="head">Серебро</span>
                            </a>
                        </div>
                        <div class="card swiper-slide">
                            <a href="#">
                                <img alt="" src="./img/pic-radiolom.png">
                                <span class="head">Радиолом</span>
                            </a>
                        </div>
                        <div class="card swiper-slide mobile">
                            <a href="#">
                                <img alt="" src="./img/pic-kondensatory.png">
                                <span class="head">Конденсаторы</span>
                            </a>
                        </div>
                        <div class="card swiper-slide mobile">
                            <a href="#">
                                <img alt="" src="./img/pic-pribory.png">
                                <span class="head">Радиоприборы</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="btn-w">
                    <a href="#" class="btn btn-uniq-cat-mobile btn-transparent mobile">Весь каталог</a>
                </div>
            </div>
        </div>
    </div>
</div>
