<div class="container">
    <div class="row">
        <div class="col-12 cards">
            <div class="top-slider">
                <div class="top-slider_wrapper">
                    <div class="swiper-container">
                        <div class="swiper-slide">
                            <div class="title">Самая высокая цена на радиодетали — здесь!</div>
                            <div class="desc">
                                Оформи заявку прямо здесь,  и мы  сами заберем, оценим,
                                и предложим лучшую цену за  один час.
                            </div>
                        </div>
                    </div>
                    <div class="top-slider_bottom">
                        <a class="btn" href="#">Скачать прайс</a>
                        <a class="btn" href="#">Каталог</a>
                        <ul class="ul slider-dots">
                            <li>1</li>
                            <li class="active">2</li>
                            <li>3</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/pic-kondensatory.png" alt="">
                    <span class="head">
                        Конденсаторы
                    </span>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/pic-pribory.png" alt="">
                    <span class="head">
                        Радиоприборы
                    </span>
                </a>
            </div>

            <div class="card">
                <a href="#">
                    <img src="/img/pic-mikroshemy.png" alt="">
                    <span class="head">
                        Микросхемы
                    </span>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/pic-potenziometry.png" alt="">
                    <span class="head">
                        Потенциометры
                    </span>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/pic-razemy.png" alt="">
                    <span class="head">
                        Разъемы
                    </span>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="/img/pic-rezistory.png" alt="">
                    <span class="head">
                        Резисторы
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>