<footer class="footer desktop">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrap">
                    <div class="logo-bottom"></div>
                    <div class="text">Мы создали этот сервис для вашего удобства. Будем рады помочь вам с качественной
                        оценкой и
                        транспортировкой продукции.
                    </div>
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="#">Мобильная версия</a></li>
                            <li><a href="#calc">Калькулятор</a></li>
                            <li><a href="/price">Прайс</a></li>
                        </ul>
                    </nav>
                    <div class="footer-cards">
                        <ul>
                            <li><img src="/img/card1.svg" alt="visa" width="42" height="30"/></li>
                            <li><img src="/img/card2.svg" alt="mastercard" width="42" height="30"/></li>
                            <li><img src="/img/card3.svg" alt="rub" width="42" height="30"/></li>
                            <li><img src="/img/card4.svg" alt="mir" width="42" height="30"/></li>
                        </ul>
                    </div>
                    <div class="copyright">Copyright © 2020. Priemka24.</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer class="footer mobile">
    <div class="container">
        <div class="row">
            <div class="xs-col-4">
                <div class="wrap">
                    <div class="footer-address">
                        <ul>
                            <li class="ico-black-map">Варшавское шоссе,&nbsp;145, корпус&nbsp;2
                                Москва, Россия</li>
                            <li class="ico-black-metro">
                                Метро Аннино
                            </li>
                            <li class="ico-black-mail">
                                <a href="mailto:moscow@priemka.ru">moscow@priemka.ru</a>
                            </li>
                            <li class="ico-black-tel">
                                <a href="tel:89151832735">+7 915 183 27 15</a>
                            </li>
                        </ul>
                    </div>

                    <div class="logo-bottom"></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/libs/js/jquery-3.5.1.min.js"></script>
<script src="/libs/js/swiper-bundle.min.js" type="module"></script>
<script src="/libs/js/jquery.fancybox.min.js" type="module"></script>
<script src="/libs/js/relax.min.js" type="module"></script>
<script src="/libs/js/jquery.scrollto.min.js" type="module"></script>

<script src="/js/main.js"></script>
<script src="sw-register.js"></script>