<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrap">
                    <div class="logo-bottom"></div>
                    <div class="text">Мы создали этот сервис для вашего удобства. Будем рады помочь вам с качественной
                        оценкой и
                        транспортировкой продукции.
                    </div>
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="#">Мобильная версия</a></li>
                            <li><a href="#calc">Калькулятор</a></li>
                            <li><a href="/price">Прайс</a></li>
                        </ul>
                    </nav>
                    <div class="footer-cards">
                        <ul>
                            <li><img src="/img/card1.svg" alt="visa" width="42" height="30"/></li>
                            <li><img src="/img/card2.svg" alt="mastercard" width="42" height="30"/></li>
                            <li><img src="/img/card3.svg" alt="rub" width="42" height="30"/></li>
                            <li><img src="/img/card4.svg" alt="mir" width="42" height="30"/></li>
                        </ul>
                    </div>
                    <div class="footer-socials">
                        <ul>
                            <li><a href="#" class="ico-w-mail"></a></li>
                            <li><a href="#" class="ico-w-wt"></a></li>
                            <li><a href="#" class="ico-w-vb"></a></li>
                        </ul>
                    </div>
                    <div class="copyright">Copyright © 2020. Priemka24.</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/libs/js/jquery-3.5.1.min.js"></script>
<script src="/libs/js/swiper-bundle.min.js" type="module"></script>

<script src="/js/main.js"></script>
<script src="sw-register.js"></script>