<header class="container header">
    <div class="row">
        <div class="col-3">
            <a class="logo" href="#"></a>
        </div>
        <nav class="top-nav col-4">
            <ul>
                <li><a href="#map" class="ico-map">Мы тут</a></li>
                <li><a href="#calc" class="ico-calc">Калькулятор</a></li>
                <li><a href="#pay" class="ico-pay">Оплата</a></li>
            </ul>
        </nav>
        <div class="col-3 top-contacts">
            <a href="#" class="ico-wt">WhatsApp</a>
            <a href="#" class="ico-vb">Viber</a>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-to-end top-phone">
            <a href="tel:8 800 556 00 55">8 800 556 00 55</a>
        </div>
    </div>
</header>