<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Priemka 24</title>

<link rel="canonical" href="https://de.testim.pw" />
<link rel="amphtml" href="https://de.testim.pw/index.html" />
<link rel="icon" type="image/png" href="/img/icons/64x64.png" />
<link rel="manifest" href="./manifest.json" />

<!-- General -->
<!-- https://www.w3.org/TR/html52/document-metadata.html#the-meta-element -->
<!-- https://html.spec.whatwg.org/multipage/semantics.html#the-meta-element -->
<meta name="application-name" content="HTML Template" />
<meta name="author" content="Igor Agapov" />
<meta name="description" content="Modern HTML Starter Template" />
<meta
        name="keywords"
        content="modern, useful, html, html5, css, css3, javascript, js, template, boilerplate"
/>
<meta name="referrer" content="strict-origin" />

<meta itemprop="name" content="HTML Template" />
<meta itemprop="description" content="Modern HTML Starter Template" />
<meta itemprop="image" content="/img/icons/128x128.png" />

<!-- Microsoft -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="msapplication-starturl" content="/" />
<meta name="msapplication-tooltip" content="Modern HTML Starter Template" />
<meta name="msapplication-TileColor" content="#222" />
<meta name="msapplication-config" content="browserconfig.xml" />

<!-- Facebook -->
<!-- https://developers.facebook.com/docs/sharing/webmasters/ -->
<!-- https://ogp.me/ -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mhst.netlify.app/" />
<meta property="og:title" content="HTML Template" />
<meta property="og:description" content="Modern HTML Starter Template" />
<meta property="og:image" content="/img/icons/256x256.png" />
<meta property="og:locale" content="en_US" />

<!-- Twitter -->
<!-- https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started -->
<!-- https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup -->
<meta name="twitter:card" content="app" />
<meta name="twitter:title" content="HTML Template" />
<meta name="twitter:description" content="Modern HTML Starter Template" />
<meta name="twitter:url" content="https://mhst.netlify.app/" />
<meta name="twitter:image" content="/img/icons/256x256.png" />

<!-- Apple (IOS) -->
<!-- https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html -->
<!-- https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
<meta name="apple-mobile-web-app-title" content="HTML Template" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#222" />
<link rel="apple-touch-icon" href="/img/icons/256x256.png" />

<!-- Android -->
<meta name="theme-color" content="#eee" />
<meta name="color-scheme" content="light" />
<meta name="mobile-web-app-capable" content="yes" />

<!--
u0529964_de
-->

<!-- JSON-LD -->
<!-- https://schema.org/WebPage -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Webpage",
        "url": "https://priemka24.ru",
        "name": "Priemka 24",
        "headline": "Priemka 24",
        "description": "Приемка радиодеталей и приборов",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://priemka24.ru"
        },
        "publisher": {
            "@type": "Person",
            "name": "RA MASSHTAB"
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://priemka24.ru/img/logo.png",
            "width": 1200,
            "height": 680
        },
        "datePublished": "2020-12-15",
        "keywords": "priemka24"
    }
</script>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
        rel="preload"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
        as="style"
/>
<link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
        rel="stylesheet"
/>


<link rel="preload" href="/libs/css/swiper-bundle.min.css" as="style" />
<link rel="stylesheet" href="/libs/css/swiper-bundle.min.css" />
<link rel="preload" href="/css/main.css" as="style" />
<link rel="stylesheet" href="/css/main.css" />

<link rel="preload" href="/libs/js/jquery-3.5.1.min.js" as="script" />
<link rel="preload" href="/libs/js/swiper-bundle.min.js" as="script" />

<style>
    /* Critical CSS */
</style>

<script> var old_stock_rub =73.388711133; var old_stock_eur = 0.8204118467; var old_stock_gold=1851.950; var old_stock_silver=25.130; var old_stock_platinum=1031.000; var old_stock_palladium=2323.000; var old_stock_date = 202012170659;</script>
<script> var stock_rub =73.388711133; var stock_eur = 0.8204118467; var stock_gold=1851.950; var stock_silver=25.130; var stock_platinum=1031.000; var stock_palladium=2323.000; var stock_date = 202012170659;</script>
