<div class="mod_getprice">
    <div class="container">
        <div class="row">
            <div class="gp1"></div>
            <div class="gp2"></div>
            <div class="gp3"></div>
            <div class="gp4"></div>
            <div class="gp5"></div>
            <div class="gp6"></div>
            <div class="gp7"></div>
            <div class="gp8"></div>
            <div class="col-6">
                <div class="ded">
                    <img src="/img/ded.png" alt="ded">
                </div>

            </div>
            <div class="col-6">
                <div class="heading">
                    Без посредников и проволочек!
                </div>
                <div class="desc">
                    Получи лучшую цену прямо сейчас, оставь заявку на звонок от специалиста или напиши нам в чат!
                </div>
                <div class="btn-w">
                    <a href="#" class="btn btn-ico btn-transparent btn-ico-money">Узнать цену сейчас</a>
                </div>
            </div>
        </div>
    </div>
</div>