<div class="mod-black">
    <div class="container">
        <div class="row">
            <div class="col-3 row-2">
                <div class="photo">
                    <img alt="" src="/img/photo.png">
                </div>
            </div>
            <div class="col-3 row-2">
                <div class="name">Андрей <span>Кучумов</span></div>
                <div class="desc">
                    Ваш консультант по вопросам оценки, анализа, и приёмки радиодеталей
                </div>
            </div>
            <div class="col-3 row-1-2">
                <div class="ico-map">
                    Варшавское шоссе 145 корпус 2
                    Москва, Россия
                </div>
            </div>
            <div class="col-3 row-1-2">
                <div class="ico-mail">
                    <a href="mailto:moscow@priemka.ru">moscow@priemka.ru</a>
                </div>
            </div>
            <div class="col-3 row-2-2">
                <div class="ico-metro">
                    Метро Аннино
                </div>
            </div>
            <div class="col-3 row-2-2">
                <div class="ico-tel">
                    <a href="tel:89151832735">+7 915 183 27 35</a>
                </div>
            </div>
        </div>
    </div>
</div>