<div class="container mod-blog">
    <div class="row">
        <div class="col-6 row-2 mod-blog-l">
            <div class="head">
                САМЫЕ ПОКУПАЕМЫЕ ДЕТАЛИ НА КОТОРЫХ МОЖНО РАЗБОГАТЕТЬ
            </div>
            <p>
                Содержание в конденсаторах серии КМ не является постоянной величиной и зависит от размеров самих конденсаторов, пересылаемых и привозимых нашими клиентами в пункт приёма радиодеталей.
                Среднее значение содержания драгметаллов в конденсаторах КМ 5F зелёного цвета следующее: 46,5 грамм палладия; 2,5 грамма платины на 1 кг конденсаторов без выводов.
            </p>
            <div class="head">
                Призыв к действию
            </div>
            <p>Тут нужен текст  мотивирующий к переходу на чат или   личное общение. </p>
        </div>
        <div class="col-3 mod-blog-r1">
            <div class="head">Отвечу на любые вопросы</div>
            <div class="desc">
                Оставте заявку  и я вам позвоню как можно скорее. Гарантирую  анонимность
            </div>
        </div>
        <div class="col-3 mod-blog-r2">
            <form action="">
                <label for="i1">
                    Имя
                    <input type="text" id="i1" placeholder="Иван"/>
                </label>
                <label for="i2">
                    Мобильный
                    <input type="text" id="i2" placeholder="+7 __________"/>
                </label>
                <input type="submit" class="btn btn-black" value="Отправить">
            </form>
        </div>
        <div class="col-6 row-2-2 mod-blog-rb">
            <div class="head">Андрей Кучумов</div>
            <div class="desc">
                Российский революционер, крупный теоретик марксизма, советский политический и государственный деятель, создатель Российской социал-демократической рабочей партии, главный организатор и руководитель
            </div>
        </div>
    </div>
</div>