<div class="mod-map">
    <div class="map_bubble">
        <div class="close"></div>
        <div class="wrapper"></div>
    </div>
<div id="map"></div>
</div>
<div class="container mobile maninblack">
    <div class="row">
        <div class="xs-col-4 mod-blog-r1 ">
            <div class="pic"></div>
            <div class="head">Отвечу на&nbsp;любые вопросы</div>
            <div class="desc">
                Оставьте заявку и я вам позвоню как можно скорее. Гарантирую анонимность.
            </div>
            <div class="arr"></div>
        </div>
    </div>
</div>


<script src="https://api-maps.yandex.ru/2.1?apikey=f84cdad7-7494-48e5-9737-c63faf7d970d&load=package.full&lang=ru_RU">
</script>
<script type="text/javascript">
    ymaps.ready(function () {

        var sites = [
            ['Москва', 55.5797031, 37.5985269, 1, '<div class="pic"><img alt="" src="/img/map.jpg"></div>'],
        ];
        var myMap = new ymaps.Map("map", {
            center: [55.580105, 37.598158],
            zoom: 19
        });

        var myPlacemark = new ymaps.Placemark([55.580105, 37.598158], {}, {
            iconLayout: 'default#image',
            iconImageHref: 'http://localhost:3000/img/marker.png',
            iconImageSize: [30, 42],
            iconImageOffset: [-3, -42]
        });
        var myPlacemark2 = new ymaps.Placemark([55.580201, 37.597497], {}, {
            iconLayout: 'default#image',
            iconImageHref: 'http://localhost:3000/img/metro.svg',
            iconImageSize: [30, 42],
            iconImageOffset: [-3, -42]
        });
        // Размещение геообъекта на карте.
        myMap.geoObjects.add(myPlacemark);
        myMap.geoObjects.add(myPlacemark2);

        myPlacemark.events.add('click', function () {
            jQuery('.map_bubble .wrapper').html(sites[0][4]).parent().addClass('open');
        });

    });
</script>

