<div class="mod_getprice container">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="heading">
                Без посредников и проволочек!
            </div>
            <div class="desc">
                Получи лучшую цену прямо сейчас, оставь заявку на звонок от специалиста или напиши нам в чат!
            </div>
            <div class="btn-w">
                <a href="#" class="btn btn-ico btn-transparent btn-ico-money">Узнать цену сейчас</a>
            </div>
        </div>
    </div>
</div>