<div class="container mod_quest">
    <div class="row">
        <div class="col-6 left">
            <div class="camera"></div>
            <div class="text">
                <div class="head">Отправьте фото для расчёта стоимости</div>
                <div class="desc">Отправить сообщение <span>и фото через</span> <span>WhatsApp</span></div>
            </div>
        </div>
        <div class="col-6 right">
            <div class="head">У вас остались вопросы?</div>
            <div class="desc">Подробно на них отвечу и порекомендую <span>лучший способ решения</span></div>
            <div class="btn-w">
                <a href="tel:89151832735" class="btn btn-yellow btn-ico btn-ico-tel">+7 915 183 27 35</a>
                <a href="#" class="btn btn-green btn-ico btn-ico-wt">WhatsApp</a>
            </div>
        </div>
    </div>
</div>