<div class="module-how-to">

        <div class="mht-left">
            <div class="wrapper col-5">
                <div class="text">
                    Многие продавцы сталкиваются с рядом неприятных ситуаций, теряют свои выгоды и время на приёмщиков с
                    плохой репутацией, которые доставляют много проблем
                </div>
                <div class="chbxes">
                    <ul>
                        <li class="chkbx">Занижают стоимость</li>
                        <li class="chkbx">Много бракуют</li>
                        <li class="chkbx">Высокие риски</li>
                    </ul>
                </div>
                <div class="sign_quest_1"></div>
                <div class="graph_ag"></div>
                <div class="graph_tranz"></div>
            </div>
        </div>
        <div class="mht-right">
            <div class="wrapper">
                <div class="gradient"></div>
                <div class="head">
                    Как продать детали <span>с минимальным</span> <span>риском</span> <span>и максимальной</span> <span>стоимостью</span>
                </div>
                <div class="btn-w">
                    <a class="btn btn-white btn-ico btn-ico-chat" href="#">Спросить в чате</a>
                </div>
                <div class="sign_quest_2"></div>
                <div class="sign_quest_3"></div>
                <div class="sign_quest_4"></div>
                <div class="robot"></div>
            </div>
        </div>

</div>