<div class="container module-123">
    <div class="row">
        <div class="col-12">
            <div class="head">Всё просто, как раз, два, три!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 block1">
            <div class="pic-1"></div>
            <div class="heading">Достаточно отправить фото</div>
            <div class="desc">
                Это абсолютно бесплатно! В течение часа  к вам приедет специалист для оценки закупки и приемки.  Нужно всего лишь связаться  с нами по месенджеру, <b>сфотографировать и отправить</b> файл.
            </div>
            <div class="btn-w">
                <a href="#" class="btn btn-ico btn-green btn-ico-wt">WhatsApp</a>
            </div>
        </div>
        <div class="col-4 block2">
            <div class="pic-2"></div>
            <div class="heading">Профессиональная оценка</div>
            <div class="desc">
                Специалист оценит всю продукцию с применением лабораторного анализа, прямо на месте. <b>Полная конфиденциальность</b> и тайна сделки!
            </div>
            <div class="btn-w">
                <a href="#" class="btn btn-ico btn-yellow btn-ico-tel">Связаться</a>
            </div>
        </div>
        <div class="col-4 block3">
            <div class="pic-3"></div>
            <div class="heading">Оплата на месте</div>
            <div class="desc">
                Вы получаете всю сумму  вне  зависимости от объема сделки. У нас <b>нет ограничений по объему выплаты</b>, наличному и безналичному расчету.
            </div>
            <div class="btn-w">
                <a href="#" class="btn btn-ico btn-yellow btn-ico-money">Посчитать</a>
            </div>
        </div>
    </div>
</div>