@import "parts/_reset";
@import "parts/_variables";

body{
  font-family: "Open Sans", sans-serif;
  color: $black;
  background: $body-bg;
  //background: url("/img/temp.jpg") center 0 no-repeat $body-bg;
  & *{
    box-sizing: border-box;
  }
}

@import "parts/_utils";
@import "parts/_grid";
@import "parts/_buttons";
@import "parts/_header";
@import "parts/_cards";
@import "parts/_slider";
@import "parts/_mod_howto";
@import "parts/_mod_123";
@import "parts/_mod_getprice";
@import "parts/_calculator";
@import "parts/_mod_blog";
@import "parts/_mod_black";
@import "parts/_form";
@import "parts/_mod_map";
@import "parts/_mod_quest";
@import "parts/_footer";